/* 'Merriweather Sans', 'Jost', 'Hind Vadodara' */
@import url('https://fonts.googleapis.com/css2?family=Hind+Vadodara:wght@300;400;500;600;700&family=Jost:ital,wght@0,100..900;1,100..900&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Nerd font icons */
@import url('https://www.nerdfonts.com/assets/css/webfont.css');

::selection {
    background-color: #b7bdf8;
    color: #181926;
}

body {
    font-family: 'Hind Vadodara';
}

footer {
    font-family: 'Merriweather Sans';
}

#oocqc,
#quote {
    font-family: 'Merriweather Sans';
}

@tailwind base;
@tailwind components;
@tailwind utilities;
